# **Data Exploration**

In [1]:
#Train Data cek

import pandas as pd

# Membaca data dari file CSV
file_path = "application_train.csv"
data_train = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama dari DataFrame
data_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [3]:
data_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [5]:
data_train.dtypes

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
                               ...
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

In [6]:
# Menghitung jumlah baris dengan nilai 1 dan nilai 0 pada kolom target
jumlah_nilai_1 = data_train[data_train['TARGET'] == 1].shape[0]
jumlah_nilai_0 = data_train[data_train['TARGET'] == 0].shape[0]

print(f"Jumlah baris dengan nilai 1 pada kolom target: {jumlah_nilai_1}")
print(f"Jumlah baris dengan nilai 0 pada kolom target: {jumlah_nilai_0}")

Jumlah baris dengan nilai 1 pada kolom target: 24825
Jumlah baris dengan nilai 0 pada kolom target: 282686

In [7]:
data_train['CODE_GENDER'].value_counts()

CODE_GENDER
F      202448
M      105059
XNA         4
Name: count, dtype: int64

In [8]:
data_train['FLAG_OWN_CAR'].value_counts()

FLAG_OWN_CAR
N    202924
Y    104587
Name: count, dtype: int64

In [9]:
data_train['FLAG_OWN_REALTY'].value_counts()

FLAG_OWN_REALTY
Y    213312
N     94199
Name: count, dtype: int64

In [10]:
data_train['CNT_CHILDREN'].value_counts()

CNT_CHILDREN
0     215371
1      61119
2      26749
3       3717
4        429
5         84
6         21
7          7
14         3
8          2
9          2
12         2
10         2
19         2
11         1
Name: count, dtype: int64

Data jumlah anak perlu dikategorisasi dengan aturan:


1.   0 Anak = 1
2.   1 - 2 anak = 2
3.  Anak > 2 = 3

In [11]:
data_train['NAME_TYPE_SUITE'].value_counts()

NAME_TYPE_SUITE
Unaccompanied      248526
Family              40149
Spouse, partner     11370
Children             3267
Other_B              1770
Other_A               866
Group of people       271
Name: count, dtype: int64

In [12]:
data_train['NAME_INCOME_TYPE'].value_counts()

NAME_INCOME_TYPE
Working                 158774
Commercial associate     71617
Pensioner                55362
State servant            21703
Unemployed                  22
Student                     18
Businessman                 10
Maternity leave              5
Name: count, dtype: int64

In [13]:
data_train['NAME_EDUCATION_TYPE'].value_counts()

NAME_EDUCATION_TYPE
Secondary / secondary special    218391
Higher education                  74863
Incomplete higher                 10277
Lower secondary                    3816
Academic degree                     164
Name: count, dtype: int64

In [14]:
data_train['NAME_FAMILY_STATUS'].value_counts()

NAME_FAMILY_STATUS
Married                 196432
Single / not married     45444
Civil marriage           29775
Separated                19770
Widow                    16088
Unknown                      2
Name: count, dtype: int64

In [15]:
data_train['NAME_HOUSING_TYPE'].value_counts()

NAME_HOUSING_TYPE
House / apartment      272868
With parents            14840
Municipal apartment     11183
Rented apartment         4881
Office apartment         2617
Co-op apartment          1122
Name: count, dtype: int64

In [16]:
data_train['NAME_CONTRACT_TYPE'].value_counts()

NAME_CONTRACT_TYPE
Cash loans         278232
Revolving loans     29279
Name: count, dtype: int64

In [ ]:
# Menghitung jumlah data kosong pada tiap kolom
missing_values = data_train.isnull().sum()

columns_with_missing_values = missing_values[missing_values > 0]

print("Kolom dengan Data Kosong:")
columns_with_missing_values

Kolom dengan Data Kosong:

AMT_ANNUITY                       12
AMT_GOODS_PRICE                  278
NAME_TYPE_SUITE                 1292
OWN_CAR_AGE                   202929
OCCUPATION_TYPE                96391
                               ...
AMT_REQ_CREDIT_BUREAU_DAY      41519
AMT_REQ_CREDIT_BUREAU_WEEK     41519
AMT_REQ_CREDIT_BUREAU_MON      41519
AMT_REQ_CREDIT_BUREAU_QRT      41519
AMT_REQ_CREDIT_BUREAU_YEAR     41519
Length: 67, dtype: int64

In [ ]:
# # Menghitung jumlah data kosong pada tiap kolom
# missing_values = data_train.isnull().sum()

# # Membuat DataFrame baru dengan informasi kolom yang memiliki data kosong
# columns_with_missing_values = missing_values[missing_values > 0]
# missing_info = pd.DataFrame({'Kolom': columns_with_missing_values.index, 'Jumlah Missing Value': columns_with_missing_values.values})

# # Ganti 'nama_file_output.xlsx' dengan nama file Excel yang Anda inginkan
# output_file_path = 'missing_value2.xlsx'

# # Menyimpan DataFrame ke dalam file Excel
# missing_info.to_excel(output_file_path, index=False)

*Some Note (Data train)*

1.   Perlu Feture Engineering Pada Kolom dengan awalan AMT (analisis lebih lanjut)
2.   Hapus Flag_Mobil (Isinya sama)
3. Flag_document satukan saja dalam satu kolom (Flag_doxument_counts)

In [ ]:
#Test Data cek

import pandas as pd

# Membaca data dari file CSV
file_path = "application_train.csv"
data_test = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama dari DataFrame
data_test.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Mendapatkan jumlah baris dan kolom dalam dataset
num_rows = data_test.shape[0]
num_columns = data_test.shape[1]

print(f"Jumlah Baris (Rows): {num_rows}")
print(f"Jumlah Kolom (Columns): {num_columns}")

Jumlah Baris (Rows): 307511
Jumlah Kolom (Columns): 122

In [ ]:
# Membandingkan kedua DataFrame
differences = data_train.compare(data_test)

# Menampilkan perbedaan (jika ada)
if differences.empty:
    print("Tidak ada perbedaan antara kedua DataFrame.")
else:
    print("Perbedaan antara kedua DataFrame:")
    print(differences)

Tidak ada perbedaan antara kedua DataFrame.

## **Checking Branch data**

In [ ]:
#Bureau Data cek

import pandas as pd

# Membaca data dari file CSV
file_path = "bureau.csv"
data_bureau = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama dari DataFrame
data_bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [ ]:
data_bureau.shape

(1716428, 17)

In [ ]:
# Mengeliminasi data_bureau dengan kesamaan data_train berdasarkan kolom SK_ID_CURR
data_bureau_use = data_bureau[data_bureau['SK_ID_CURR'].isin(data_train['SK_ID_CURR'])]
data_bureau_use.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [ ]:
data_bureau_use.shape

(1465325, 17)

In [ ]:
# # Ganti 'nama_file_output.xlsx' dengan nama file Excel yang Anda inginkan
# output_file_path = 'bureau_use_output.xlsx'

# # Menyimpan DataFrame ke dalam file Excel
# data_bureau_use.to_excel(output_file_path, index=False)

# print(f"DataFrame telah disimpan sebagai file Excel: {output_file_path}")

In [ ]:
#Bureau_balance Data cek

import pandas as pd

# Membaca data dari file CSV
file_path = "bureau_balance.csv"
data_bureau_balance = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama dari DataFrame
data_bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [ ]:
data_bureau_balance.shape

(27299925, 3)

In [ ]:
# Mengeliminasi data_bureau_balance dengan kesamaan data_bureau berdasarkan kolom SK_ID_BUREAU
data_bureau_balance_use = data_bureau_balance[data_bureau_balance['SK_ID_BUREAU'].isin(data_bureau_use['SK_ID_BUREAU'])]
data_bureau_balance_use.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [ ]:
data_bureau_balance_use.shape

(14701612, 3)

In [ ]:
# # Ganti 'nama_file_output.xlsx' dengan nama file Excel yang Anda inginkan
# output_file_path = 'bureau_balance_use_output.xlsx'

# # Menyimpan DataFrame ke dalam file Excel
# data_bureau_balance_use.to_excel(output_file_path, index=False)

# print(f"DataFrame telah disimpan sebagai file Excel: {output_file_path}")

In [ ]:
#Previous_application check

import pandas as pd

# Membaca data dari file CSV
file_path = "previous_application.csv"
data_prev_app = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama dari DataFrame
data_prev_app.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Mengeliminasi Previous_application dengan kesamaan data_train berdasarkan kolom SK_ID_CURR
data_previous_app_use = data_prev_app[data_prev_app['SK_ID_CURR'].isin(data_train['SK_ID_CURR'])]
data_previous_app_use.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data_previous_app_use.shape

(1413701, 37)

In [ ]:
#POSH_CASH_Balance check

import pandas as pd

# Membaca data dari file CSV
file_path = "/content/POS_CASH_balance.csv"
data_POS_CASH_balance = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama dari DataFrame
data_POS_CASH_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [ ]:
data_POS_CASH_balance.shape

(10001358, 8)

In [ ]:
# Mengeliminasi POSH_CASH_Balance dengan kesamaan Previous_application berdasarkan kolom SK_ID_PREV
data_POSH_CASH_Balance_use = data_POS_CASH_balance[data_POS_CASH_balance['SK_ID_PREV'].isin(data_previous_app_use['SK_ID_PREV'])]
data_POSH_CASH_Balance_use.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [ ]:
data_POSH_CASH_Balance_use.shape

(8251754, 8)

In [ ]:
#nstallments_payments check

import pandas as pd

# Membaca data dari file CSV
file_path = "installments_payments.csv"
data_installments_payments = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama dari DataFrame
data_installments_payments.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [ ]:
data_installments_payments.shape

(13605401, 8)

In [ ]:
# Mengeliminasi installments_payments dengan kesamaan Previous_application berdasarkan kolom SK_ID_PREV
data_data_installments_payments_use = data_installments_payments[data_installments_payments['SK_ID_PREV'].isin(data_previous_app_use['SK_ID_PREV'])]
data_data_installments_payments_use.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585
5,1137312,164489,1.0,12,-1384.0,-1417.0,5970.375,5970.375

In [ ]:
data_data_installments_payments_use.shape

(10572221, 8)

In [ ]:
#Credit_card Balance

import pandas as pd

# Membaca data dari file CSV
file_path = "credit_card_balance.csv"
data_credit_card_balance = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama dari DataFrame
data_credit_card_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0

In [ ]:
data_credit_card_balance.shape

(3840312, 23)

In [ ]:
# Mengeliminasi Credit_card Balance dengan kesamaan Previous_application berdasarkan kolom SK_ID_PREV
data_credit_card_balance_use = data_credit_card_balance[data_credit_card_balance['SK_ID_PREV'].isin(data_previous_app_use['SK_ID_PREV'])]
data_credit_card_balance_use.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
3,1389973,337855,-4,236572.110,225000,2250.0,2250.000,0.0,0.000,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
8,2181852,367360,-4,291543.075,292500,90000.0,289339.425,0.0,199339.425,130.500,...,286831.575,286831.575,3.0,8,0.0,5.0,3.0,Active,0,0
9,1235299,203885,-5,201261.195,225000,76500.0,111026.700,0.0,34526.700,6338.340,...,197224.695,197224.695,3.0,9,0.0,6.0,38.0,Active,0,0
11,2740914,340339,-1,131669.145,225000,10800.0,10800.000,0.0,0.000,6000.480,...,127891.935,127891.935,2.0,2,0.0,0.0,6.0,Active,0,0
12,1985699,302517,-4,1427.265,135000,4500.0,101304.720,0.0,96804.720,3023.955,...,0.000,0.000,1.0,30,0.0,29.0,27.0,Active,0,0

In [ ]:
data_credit_card_balance_use.shape

(2354993, 23)

In [ ]:
#Sample_sumbmission Check

import pandas as pd

# Membaca data dari file CSV
file_path = "sample_submission.csv"
data_sample_submission = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama dari DataFrame
data_sample_submission.head()

   SK_ID_CURR  TARGET
0      100001     0.5
1      100005     0.5
2      100013     0.5
3      100028     0.5
4      100038     0.5

In [ ]:
data_sample_submission.shape

(48744, 2)

In [ ]:
# Mengeliminasi Sample_sumbmission dengan kesamaan data_train berdasarkan kolom SK_ID_CURR
data_sample_submission_use = data_sample_submission[data_sample_submission['SK_ID_CURR'].isin(data_train['SK_ID_CURR'])]
data_sample_submission_use.head()

Empty DataFrame
Columns: [SK_ID_CURR, TARGET]
Index: []

# **Data Exploration & Viz 1**

Cek trend credit pengguna di data biro

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


# Mengatur gaya Seaborn
sns.set(style="darkgrid")

# Membagi data menjadi kelompok berdasarkan ID
unique_ids = data_bureau_balance_use['SK_ID_BUREAU'].unique()
id_groups = [unique_ids[i:i+20] for i in range(0, len(unique_ids), 20)]

# Membuat plot untuk setiap kelompok ID
for group in id_groups:
    group_data = data_bureau_balance_use[data_bureau_balance_use['SK_ID_BUREAU'].isin(group)]
    plt.figure(figsize=(12, 8))
    sns.lineplot(x='STATUS', y='MONTHS_BALANCE', data=group_data, hue='SK_ID_BUREAU', palette='tab20', linewidth=2)
    plt.title('History Data for SK_ID_BUREAU')
    plt.xlabel('Status')
    plt.ylabel('Month Balance')
    plt.xticks(rotation=45)
    plt.legend(title='SK_ID_BUREAU', bbox_to_anchor=(1.05, 1), loc='upper left')
    plt.tight_layout()
    plt.show()

# **Data Pre-porcessing**

**Buat Dataframe Baru yang merupakan gabungan dari bureau_use dan bureau balance_use** <br/>
Hal ini untuk melihat  data bureau yang benar-benar behubungan dengan data train